.speech
{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.stage-direction
{
    color:black;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.stage-direction:hover
{
    color: blueviolet;
    background-color: burlywood;
}

.name
{
    color:rgb(182, 135, 64);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.name:hover
{
    text-shadow: navajowhite;
    filter: blur(1px);
}

.phipps
{
    color: rgb(73, 73, 192);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.phipps:hover
{
    text-shadow: rgb(131, 131, 226);
    filter: blur(1px);
}

.lord-goring
{
    color: rgb(54, 117, 119);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.lord-goring:hover
{
    text-shadow: rgb(172, 231, 231);
    filter: blur(1px);
}
.table
{
    border: 5px;
    border-style: ridge;
    border-color:rgb(253, 193, 104);
    text-align: center;
    margin: 10px;
    padding-left: 10px;
    border-collapse: collapse;
    
}

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li
{ 
   float:left; 
   color:#000;background-color:lightgray
}
ul.navbar-horizontal a {
   display:block;padding:8px
}
ul.navbar-horizontal a:hover { 
   background-color: #555;color:white;
}